@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 40, 40, 40;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 25, 191, 141;
    --background-start-rgb: 20, 30, 10;
    --background-end-rgb: 40, 30, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.variable {
  font-size: 40px;
  margin-left: 15px;
  color: rgb(250, 192, 2);
}

.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: '';
  font-size: 20px;
  height: 40;
  align-items: center;
}


