@tailwind base;
@tailwind components;
@tailwind utilities; 

.top-menu {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(var(--foreground-rgb));
    background:
      rgb(var(--background-start-rgb));
  }

.dropdown{
    position: relative;

}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60px;
    font-size: 25px;
}

.menu-items li a {
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    background: none;
    border-radius:8px;
    cursor: pointer;
}
.menu-items li a:hover{
    background-color: #323825;    
}


.dropdown-menu {
    list-style-type: disc;
    list-style-position: inside;
    background-color: "none";
    position: absolute;
    width:150%;
    border: 'none';
    padding: 5px 5px;
    flex-direction: column;
}

.dropdown-menu li a {
    font-size: 20px;
    color: rgb(176, 141, 2);
    text-decoration: none;
    padding: 5px 5px;
    transition: background-color 0.3s ease;
}


.title{
    font-size: 25px;
    margin-left: 10px;
}

